* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #636363;
}

h2 {
  margin: 0;
}

#page-wrapper {
  width: 100%;
}

#description {
  float: left;
  width: 33%;
  text-align: justify;
  font-weight: bold;
  margin: 100px 0;
  padding-right: 15px;
}

#game {
  float: left;
  width: 33%;
}

#hiscorebox {
  font-size: 24px;
}

#hiscore {
  font-size: 48px;
}

@media screen and (max-width: 768px) {
  #description {
    width: 100%;
  }
}